# Architecture
BR2_avr32=y

# Filesystems
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_BLOCKS=64000
BR2_TARGET_ROOTFS_JFFS2=y
BR2_TARGET_ROOTFS_JFFS2_FLASH_64=y
BR2_TARGET_ROOTFS_JFFS2_PAGESIZE=0x1000
BR2_TARGET_ROOTFS_JFFS2_EBSIZE=0x10000
BR2_TARGET_ROOTFS_JFFS2_NOCLEANMARKER=y
BR2_TARGET_ROOTFS_JFFS2_PAD=y
BR2_TARGET_ROOTFS_JFFS2_PADSIZE=0x7D0000
BR2_TARGET_ROOTFS_JFFS2_BE=y
BR2_TARGET_ROOTFS_TAR=y
BR2_TARGET_ROOTFS_TAR_NONE=y

# Generic
BR2_TARGET_GENERIC_HOSTNAME="grasshopper"
BR2_TARGET_GENERIC_ISSUE="Grasshopper on Buildroot 2011.11-GIT"

# File System structure
BR2_ROOTFS_DEVICE_TABLE="target/device/atmel/grasshopper/device_table.txt"
BR2_ROOTFS_STATIC_DEVICE_TABLE="target/device/atmel/grasshopper/device_table_dev.txt"


# Bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="grasshopper"
BR2_TARGET_UBOOT_2010_09=y
BR2_TARGET_UBOOT_CUSTOM_PATCH_DIR="target/device/atmel/grasshopper/u-boot"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.0.4"
BR2_LINUX_KERNEL_PATCH="target/device/atmel/grasshopper/kernel-patches"
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="grasshopper"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
